@{
    ViewData["Title"] = "Contato";

}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Developer, Daniel Alencar<br />
    <abbr title="Phone">Phone:</abbr>
    +55 (14) 98104-2575
</address>

<address>
    <strong>Support:</strong> developer_alencar@outlook.com<br />
    
</address>
